<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
  {{- partial "social.html" . }}
  <div class="copyright">
    {{-  $current := now.Format "2006" }}
    &copy;
    {{- if ne .Site.Params.since $current -}}
        {{- print .Site.Params.since }}  -
    {{- end }}
    {{ $current }} Peng Feng 版权所有
    <div class="publishby">
        {{T "copyright_theme_by"}} <a href="" target="_blank"> pengfeng </a>{{T "copyright_base_on"}}<a href="https://github.com/yabostone/" target="_blank"> pure</a>.
    </div>
    {{ if (isset .Site.Params "beian") }}
      <div>
        <a href="https://beian.miit.gov.cn/" target="_blank">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{- print .Site.Params.beian }}</a>
      </div>
    {{ end }}
    {{ if (isset .Site.Params "gongan") }}
        <div style="width:300px;margin:0 auto; padding:0px 0;">
		 		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32058302003279" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="images/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#D2D1E1;">苏公网安备 32058302003279号</p></a>
		</div>
	 
    {{ end }}
  </div>
</footer>
